@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primaryColor: #44b6a1;
  --whiteColor: #fff;
  --whiteLight: #d8e4e8;
  --darkenBlue: #0a152f;
  --colorTitre: #0a152f;
  --bgFond: #f8f8f8;
  --bgCard: #fff;
  --colorMuted: #697288;
  --colorBorder: #dee2eb;
  --colorBorderTr: #ebeef5;
  --borderColorHeaderModal: #eeeef2;
  --redColor: #df5656;
  --greenColor: #44b6a1;
  --orangeColor: #dfa356;
  --boxShadowCard: 0 5px 18px rgba(179, 187, 204, 0.05);
  --boxShadowDropdown: rgba(179, 187, 204, 0.1) 0px 5px 24px 0px;
  --borderNone: none;
  --bgBadgeSuccess: #c1eae2;
  --bgBadgeDanger: #f7c0c0;
  --bgBadgeWarning: #f7e2c8;
  --bgBtnLight: #f8f8f8;
  --borderRadius-6: 6px;
  --borderRadius-8: 8px;
  --borderRadius-12: 12px;
  --borderRadius-24: 24px;
  --borderRadius-50: 50px;
  --borderRadius-r-50: 50%;
  --borderRadius-r-100: 100%;
  --fnt-8: 8px;
  --fnt-10: 10px;
  --fnt-11: 11px;
  --fnt-12: 12px;
  --fnt-13: 13px;
  --fnt-14: 14px;
  --fnt-15: 15px;
  --fnt-16: 16px;
  --fnt-18: 18px;
  --fnt-20: 20px;
  --fnt-22: 22px;
  --fnt-24: 24px;
  --fnt-26: 26px;
  --fnt-28: 28px;
  --fnt-30: 30px;
  --fnt-32: 32px;
  --fnt-34: 34px;
  --fnt-36: 36px;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --transition-3: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}

.global-div {
  min-height: 100vh;
}

.bg-primary {
  background-color: var(--primaryColor) !important;
}

.wrapper {
  min-height: 100vh;
  background: var(--bgFond);
}

.tooltip-indicator {
  position: absolute;
  padding: 7px 14px;
  border-radius: var(--borderRadius-8);
  background: rgba(0, 0, 0, 0.9);
  color: var(--whiteColor);
  font-size: var(--fnt-12);
  transition: var(--transition-3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  white-space: nowrap;
  z-index: 100;
}
.tooltip-indicator.sm {
  padding: 2px 8px;
}

.tooltip-hover {
  display: inline-flex;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
}
.tooltip-hover:hover .tooltip-indicator {
  opacity: 1;
  visibility: visible;
}
.tooltip-hover[data-position-tooltip=top] .tooltip-indicator {
  bottom: 160%;
}
.tooltip-hover[data-position-tooltip=top] .tooltip-indicator.sm {
  bottom: 110%;
}
.tooltip-hover[data-position-tooltip=bottom] .tooltip-indicator {
  top: 160%;
}
.tooltip-hover[data-position-tooltip=left] .tooltip-indicator {
  left: 160%;
}
.tooltip-hover[data-position-tooltip=right] .tooltip-indicator {
  right: 160%;
}

.btn {
  font-size: var(--fnt-14);
  border-radius: var(--borderRadius-8);
  transition: var(--transition-3);
}
.btn.btn-default {
  padding: 7px 12px;
}
.btn.btn-primary {
  background: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}
.btn.btn-white {
  background: var(--bgCard);
  color: var(--colorTitre);
  border-color: var(--bgCard);
}
.btn.btn-border {
  border: 1px solid var(--colorBorder);
}
.btn.btn-border:hover {
  border-color: var(--colorTitre);
}
.btn.btn-light {
  color: var(--colorTitle);
  background: var(--bgBtnLight);
  border-color: transparent !important;
}

a {
  text-decoration: none;
}

.fi {
  display: inline-flex;
  align-items: center;
}
.fi::before {
  line-height: inherit;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}
.avatar.md {
  width: 36px;
  height: 36px;
}
.avatar .icon-avatar {
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius-r-50);
  background: var(--bgFond);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-600);
  font-size: var(--fnt-14);
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.dropdown-menu {
  padding: 15px 14px;
  border: var(--borderNone) !important;
  box-shadow: var(--boxShadowDropdown);
  border-radius: 12px !important;
  background: var(--bgCard);
}
.dropdown-menu.lg {
  min-width: 190px;
}
.dropdown-menu li.li-border {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid var(--borderColorHeaderModal);
}
.dropdown-menu .dropdown-item {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--colorMuted);
  transition: 0.3s;
  border-radius: 8px;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item.active {
  background: var(--bgBtnLight);
  color: var(--primaryColor);
}

.border-end {
  border-color: var(--colorBorder) !important;
}

hr {
  border-top-color: var(--colorBorder);
  opacity: 0.6;
}

.text {
  color: var(--colorTitre);
  font-size: var(--fnt-16);
}
.text.sm {
  font-size: var(--fnt-14);
}
.text.xm {
  font-size: var(--fnt-12);
}
.text.fnt-18 {
  font-size: var(--fnt-18);
}
.text.md {
  font-size: var(--fnt-20);
}
.text.lg {
  font-size: var(--fnt-28);
}
.text.muted {
  color: var(--colorMuted);
}

.progress {
  border-radius: var(--borderRadius-8);
  background: var(--bgFond);
}
.progress .progress-bar {
  background: var(--primaryColor);
}

.navbar {
  background: var(--darkenBlue);
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1058823529);
}
.navbar .logo-app {
  color: var(--whiteColor);
  font-size: var(--fnt-22);
  font-weight: var(--fw-700);
}
.navbar .logo-app .icon {
  display: flex;
  align-items: center;
  width: 34px;
  height: 24px;
  border: 3px solid var(--primaryColor);
  border-radius: var(--borderRadius-6);
}
.navbar .logo-app .icon span {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: var(--primaryColor);
}
.navbar .link-icon {
  color: var(--whiteLight);
  font-size: var(--fnt-18);
}
.navbar .nav-item {
  position: relative;
}
.navbar .nav-item .nav-link {
  color: var(--whiteLight);
  font-size: var(--fnt-14);
  font-weight: var(--fw-500);
  transition: var(--transition-3);
  position: relative;
  display: inline-flex;
  align-items: center;
}
.navbar .nav-item .nav-link .icon-arrow {
  font-size: var(--fnt-12);
  transition: 0.3s;
}
.navbar .nav-item .nav-link:hover {
  color: var(--whiteColor);
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: var(--primaryColor);
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
  border-radius: var(--borderRadius-6);
  display: none;
}
.navbar .nav-item .nav-link.active {
  color: var(--primaryColor);
}
.navbar .nav-item .nav-link.active::before {
  display: block;
}
.navbar .nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.navbar .nav-item:hover .nav-link .icon-arrow {
  transform: rotate(90deg);
}
.navbar .nav-item .dropdown {
  position: absolute;
  left: 0;
  min-width: 190px;
  top: 130%;
  background: var(--bgCard);
  border-radius: var(--borderRadius-12);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
}
.navbar .nav-item .dropdown .content-dropdown {
  padding: 15px 14px;
}
.navbar .nav-item .dropdown .content-dropdown ul {
  list-style: none;
}
.navbar .nav-item .dropdown .content-dropdown ul li a {
  padding: 5px 7px;
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  transition: 0.3s;
}
.navbar .nav-item .dropdown .content-dropdown ul li a:hover, .navbar .nav-item .dropdown .content-dropdown ul li a.active {
  color: var(--primaryColor);
}
.navbar .toggle-theme .content-theme {
  width: 32px;
  height: 32px;
}
.navbar .toggle-theme .content-theme input:checked + .label-theme .bubble-icon {
  transform: rotate(360deg);
}
.navbar .toggle-theme .content-theme input:checked + .label-theme .bubble-icon .fi:first-child {
  transform: scale(0);
}
.navbar .toggle-theme .content-theme input:checked + .label-theme .bubble-icon .fi:last-child {
  transform: scale(1);
}
.navbar .toggle-theme .content-theme .label-theme {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.navbar .toggle-theme .content-theme .label-theme .bubble-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.navbar .toggle-theme .content-theme .label-theme .bubble-icon .fi {
  position: absolute;
  color: var(--whiteLight);
  font-size: var(--fnt-12);
  transition: 0.3s;
  font-size: var(--fnt-18);
}
.navbar .toggle-theme .content-theme .label-theme .bubble-icon .fi:last-child {
  transform: scale(0);
}
.navbar .block-show-name-project {
  color: var(--whiteColor);
  font-size: var(--fnt-12);
  padding: 4px;
  line-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3294117647);
  border-radius: var(--borderRadius-50);
}
.navbar .block-show-name-project .btn-add-project {
  width: 26px;
  height: 26px;
  border-radius: var(--borderRadius-r-100);
  background: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  font-size: var(--fnt-12);
}
.navbar .dropdown:hover .block-avatar-user-connected .icon-arrow {
  transform: rotate(180deg);
}
.navbar .block-avatar-user-connected {
  padding: 4px 8px 4px 4px;
  border-radius: var(--borderRadius-50);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.168627451);
  border: 1px solid rgba(255, 255, 255, 0.168627451);
}
.navbar .block-avatar-user-connected .icon-arrow {
  color: var(--whiteLight);
  font-size: var(--fnt-12);
  transition: 0.3s;
}

#kt_apexcharts_2 {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bubble-legend {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
}
.bubble-legend.green {
  background: var(--greenColor);
}
.bubble-legend.red {
  background: var(--redColor);
}
.bubble-legend.orange {
  background: var(--orangeColor);
}
.bubble-legend.gray {
  background: var(--bgFond);
}

.banner-home {
  padding: 40px 0;
  padding-bottom: 80px;
  position: relative;
  background: var(--darkenBlue);
  overflow: hidden;
}
.banner-home h1 {
  font-size: var(--fnt-32);
  color: var(--whiteColor);
}
.banner-home p {
  color: var(--whiteLight);
}

.block-mt-negative {
  margin-top: -70px;
}

.indice-pourcentage {
  font-size: var(--fnt-12);
  color: var(--colorMuted);
}
.indice-pourcentage.green {
  color: var(--greenColor);
}
.indice-pourcentage.red {
  color: var(--redColor);
}

.icon-widget {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--borderRadius-12);
  color: var(--whiteColor);
  font-size: var(--fnt-20);
  overflow: hidden;
}
.icon-widget.sm {
  width: 34px;
  height: 34px;
  font-size: var(--fnt-14);
}
.icon-widget.green {
  background: #44b6a1;
}

.table tr {
  border: none !important;
  vertical-align: middle;
}
.table th {
  font-size: var(--fnt-12);
  color: var(--colorMuted);
  padding: 10px 12px;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--colorBorderTr) !important;
}
.table td {
  border-bottom: 1px dashed var(--colorBorderTr);
  font-size: 14px;
  color: var(--colorTitre);
  padding: 10px 12px;
  white-space: nowrap;
  background: transparent;
}
.table .btn-table {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
  font-size: 12px;
  color: var(--colorMuted);
  background: var(--bgBtnLight);
}
.table .btn-table:hover {
  color: var(--colorTitre);
}

.link {
  color: var(--colorTitre);
  transition: var(--transition-3);
  font-weight: var(--fw-500);
}
.link:hover {
  color: var(--primaryColor);
}

.block-sidebar {
  position: sticky;
  height: calc(100vh - 170px);
  top: 80px;
  border-right: 1px solid var(--colorBorder);
}
.block-sidebar .header {
  padding: 10px 12px;
}
.block-sidebar .body {
  padding: 10px 12px;
  overflow: hidden;
  overflow-y: auto;
}
.block-sidebar .body .list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.block-sidebar .body .list li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  padding-left: 7px;
  font-size: var(--fnt-14);
  color: var(--colorTitre);
  transition: var(--transition-3);
  font-weight: var(--fw-500);
  position: relative;
}
.block-sidebar .body .list li a::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25%;
  background: var(--primaryColor);
  left: 0;
  border-radius: var(--borderRadius-8);
  display: none;
}
.block-sidebar .body .list li a.active, .block-sidebar .body .list li a:hover {
  color: var(--primaryColor);
}
.block-sidebar .body .list li a.active::before {
  display: block;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  font-weight: 500;
  border-radius: var(--borderRadius-8);
}
.badge.badge-success {
  background: var(--bgBadgeSuccess);
  color: var(--greenColor);
}
.badge.badge-danger {
  background: var(--bgBadgeDanger);
  color: var(--redColor);
}
.badge.bagde-warning {
  background: var(--bgBadgeWarning);
  color: var(--orangeColor);
}
.badge.bagde-light {
  background: var(--bgFond);
  color: var(--colorTitre);
}

.all-items .item {
  padding: 10px 0;
  border-bottom: 1px dashed var(--colorBorder);
}
.all-items .item .icon {
  width: 40px;
  height: 40px;
  border-radius: var(--borderRadius-12);
  overflow: hidden;
}

.apexcharts-toolbar {
  display: none !important;
}

.apexcharts-legend-text {
  color: var(--colorTitre) !important;
}

.apexcharts-pie-area {
  stroke-width: 0 !important;
}

.kt_apexchart svg .apexcharts-text.apexcharts-yaxis-label, .kt_apexchart svg .apexcharts-text.apexcharts-xaxis-label {
  fill: var(--colorMuted);
}
.kt_apexchart svg .apexcharts-gridline {
  stroke-dasharray: 5 !important;
  stroke: var(--colorBorder) !important;
}
.kt_apexchart svg .apexcharts-xcrosshairs {
  stroke: var(--colorBorder) !important;
}
.kt_apexchart.kt_apexcharts_1 linearGradient stop:first-child {
  stop-color: rgba(65, 113, 255, 0) !important;
  stop-opacity: 1 !important;
}
.kt_apexchart.kt_apexcharts_1 linearGradient stop:nth-child(2) {
  stop-color: rgba(243, 241, 255, 0) !important;
  stop-opacity: 1 !important;
}
.kt_apexchart.kt_apexcharts_1 .apexcharts-series:nth-child(1) .apexcharts-area {
  stroke: rgba(99, 165, 67, 0.6705882353) !important;
}
.kt_apexchart.kt_apexcharts_1 .apexcharts-series:nth-child(2) .apexcharts-area {
  stroke: rgba(241, 126, 43, 0.6705882353) !important;
}
.kt_apexchart.kt_apexcharts_1 .apexcharts-series:nth-child(3) .apexcharts-area {
  stroke: rgba(235, 30, 38, 0.6705882353) !important;
}
.kt_apexchart.kt_apexcharts_1 .apexcharts-series:nth-child(4) .apexcharts-area {
  stroke: rgba(160, 25, 117, 0.6705882353) !important;
}

.apexcharts-tooltip {
  background: var(--bgCard) !important;
  border-radius: 12px !important;
  box-shadow: var(--boxShadowDropdown) !important;
  border: none !important;
}
.apexcharts-tooltip .apexcharts-tooltip-title {
  background: none !important;
  border-bottom: 1px solid var(--colorBorder) !important;
}
.apexcharts-tooltip .apexcharts-tooltip-title {
  color: var(--colorTitre) !important;
}
.apexcharts-tooltip .apexcharts-tooltip-text .apexcharts-tooltip-text-y-label {
  color: var(--colorParagraph);
}
.apexcharts-tooltip .apexcharts-tooltip-text .apexcharts-tooltip-text-y-value {
  color: var(--colorTitre);
}

.apexcharts-xaxistooltip {
  background: var(--bgCard) !important;
  border: none !important;
  box-shadow: rgba(177, 174, 213, 0.053) 0px 0px 10px 18px !important;
  border-radius: 8px !important;
}

.apexcharts-xaxistooltip-bottom::after {
  border-bottom-color: var(--darkenBlue) !important;
}

.apexcharts-xaxistooltip-bottom::before {
  border-bottom: 0 !important;
}

.card.card-plan {
  position: relative;
  z-index: 1;
}
.card.card-plan .block-circles {
  position: absolute;
  top: -170px;
  left: -170px;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1215686275);
  z-index: -1;
}
.card.card-plan .block-circles .circle {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.1215686275);
  border-radius: 100%;
}
.card.card-plan .block-circles .circle:first-child {
  inset: 30px;
}
.card.card-plan .block-circles .circle:nth-child(2) {
  inset: 60px;
}
.card.card-plan .block-circles .circle:nth-child(3) {
  inset: 90px;
}
.card.card-plan .block-circles .circle:nth-child(4) {
  inset: 120px;
}
.card.card-plan .block-circles .circle:nth-child(5) {
  inset: 150px;
}
.card.card-plan-sm {
  border: none;
  background: var(--bgCard);
  position: relative;
  z-index: 1;
}
.card.card-plan-sm input.radio {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.card.card-plan-sm input.radio:checked + .content-card {
  border: 1px dashed var(--primaryColor);
}
.card.card-plan-sm input.radio:checked + .content-card .fake-radio {
  background: var(--primaryColor);
}
.card.card-plan-sm .fake-radio {
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--bgBtnLight);
  border-radius: var(--borderRadius-r-100);
  right: 10px;
  top: 10px;
  transition: var(--transition-3);
  font-size: var(--fnt-10);
  color: var(--whiteColor);
}
.card.card-plan-sm .content-card {
  border: 1px dashed var(--colorBorder);
  border-radius: var(--borderRadius-12);
  transition: border var(--transition-3);
  padding: 14px;
}
.card.card-dash {
  border: none;
  border-radius: var(--borderRadius-24);
  background: var(--bgCard);
  padding: 14px;
  box-shadow: var(--boxShadowCard);
}
.card.card-dash.rounded-sm {
  border-radius: var(--borderRadius-12);
}
.card.lg {
  padding: 16px;
}
.card.card-code {
  border: none;
  border-radius: var(--borderRadius-24);
  background: #0a152f;
  padding: 5px;
}
.card.card-code .content-card {
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.1058823529);
  border: 1px solid rgba(255, 255, 255, 0.1058823529);
  border-radius: 18px;
  flex-direction: column;
  overflow: auto;
  max-height: 270px;
}

.block-search-in-table {
  position: relative;
  display: flex;
  align-items: center;
}
.block-search-in-table .icon {
  position: absolute;
  color: var(--colorTitre);
  left: 14px;
  font-size: var(--fnt-14);
  transition: var(--transition-3);
  display: flex;
  align-items: center;
}
.block-search-in-table .form-control {
  padding-left: 38px;
}
.block-search-in-table .form-control:focus + .icon {
  color: var(--primaryColor);
}

.nav-white {
  padding: 6px;
  background: var(--bgFond);
  border: var(--borderNone);
  border-radius: var(--borderRadius-12);
  max-width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
}
.nav-white .nav-link {
  font-size: var(--fnt-12);
  border: var(--borderNone);
  border-radius: var(--borderRadius-8);
  color: var(--colorMuted);
  white-space: nowrap;
  padding: 6px 12px;
  transition: var(--transition-3);
}
.nav-white .nav-link:hover {
  color: var(--colorTitre);
}
.nav-white .nav-link.active {
  color: var(--colorTitre);
  background: var(--bgCard);
}
.nav-white.reverse {
  background: var(--bgCard);
}
.nav-white.reverse .nav-link.active {
  color: var(--colorTitre);
  background: var(--bgBtnLight);
}

.form-control {
  border-radius: var(--borderRadius-8);
  box-shadow: none !important;
  font-size: 14px;
  color: var(--colorTitre) !important;
  transition: var(--transition-3);
}
.form-control.form-border {
  border-color: var(--colorBorder);
  background-color: transparent;
}
.form-control.form-border:focus {
  border-color: var(--primaryColor);
}
.form-control::-moz-placeholder {
  color: var(--colorMuted);
  opacity: 0.7;
}
.form-control::placeholder {
  color: var(--colorMuted);
  opacity: 0.7;
}

footer {
  padding: 14px 0;
  background: var(--bgCard);
}

.label-input {
  font-size: var(--fnt-12);
}

.block-login {
  min-height: 100vh;
  background: var(--bgFond);
}
.block-login .block-bg-login {
  min-height: 100vh;
  padding: 10px;
}
.block-login .content-bg {
  width: 100%;
  min-height: 100vh;
  background: var(--darkenBlue);
  border-radius: var(--borderRadius-24);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.block-login .content-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at 50%, transparent, rgba(10, 21, 47, 0.9176470588));
}
.block-login .content-bg .text-xxl {
  font-size: 48px;
}
.block-login .content-bg .text-xxl span {
  color: var(--primaryColor);
  font-weight: var(--fw-700);
}
.block-login .content-bg .text-para {
  color: var(--whiteLight);
  width: 420px;
}
.block-login .content-bg .block-circles {
  position: absolute;
  width: 1150px;
  height: 1150px;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1215686275);
  opacity: 0.5;
  z-index: -2;
}
.block-login .content-bg .block-circles:first-child {
  top: -300px;
  left: -300px;
}
.block-login .content-bg .block-circles:last-child {
  bottom: -300px;
  right: -300px;
}
.block-login .content-bg .block-circles .circle {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.1215686275);
  border-radius: 100%;
}
.block-login .content-bg .block-circles .circle:first-child {
  inset: 50px;
}
.block-login .content-bg .block-circles .circle:nth-child(2) {
  inset: 100px;
}
.block-login .content-bg .block-circles .circle:nth-child(3) {
  inset: 150px;
}
.block-login .content-bg .block-circles .circle:nth-child(4) {
  inset: 200px;
}
.block-login .content-bg .block-circles .circle:nth-child(5) {
  inset: 250px;
}
.block-login .content-bg .block-img {
  position: relative;
}
.block-login .content-bg .block-img .img-1 {
  overflow: hidden;
  border-radius: 18px;
  width: 90%;
  box-shadow: var(--boxShadowDropdown);
}
.block-login .content-bg .block-img .img-2 {
  position: absolute;
  width: 20%;
  border-radius: 14px;
  overflow: hidden;
  top: -80px;
  right: 50px;
  box-shadow: var(--boxShadowDropdown);
}
.block-login .card-login {
  padding: 34px;
  border: var(--borderNone);
  border-radius: var(--borderRadius-24);
  box-shadow: var(--boxShadowCard);
}
.block-login .card-login .link {
  color: var(--primaryColor);
  font-size: var(--fnt-14);
  font-weight: var(--fw-600);
  transition: var(--transition-3);
}
.block-login .card-login .link.text {
  color: var(--colorTitre);
}
.block-login .card-login .link.text:hover {
  color: var(--primaryColor);
}
.block-login .card-login h1 {
  color: var(--colorTitre);
  font-size: var(--fnt-30);
  font-weight: var(--fw-600);
}
.block-login .card-login .icon-input {
  position: absolute;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background: var(--bgCard);
  right: 10px;
  cursor: pointer;
  color: var(--colorTitre);
}
.block-login .card-login .form-control {
  height: 48px;
  border-radius: 14px;
  padding-left: 18px;
}
.block-login .card-login .form-control::-moz-placeholder {
  color: var(--colorTitre);
}
.block-login .card-login .form-control::placeholder {
  color: var(--colorTitre);
}
.block-login .card-login .btn-lg {
  height: 48px;
  border-radius: 14px;
}
.block-login .card-login .btn-lg .img-logo {
  width: 20px;
}

.list-indicator {
  margin-bottom: 0;
  padding-left: 14px;
  list-style: none;
  position: relative;
}
.list-indicator::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--borderColorHeaderModal);
  left: 0;
}
.list-indicator li {
  font-size: var(--fnt-13);
  color: var(--colorMuted);
  padding: 5px 0;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.list-indicator li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25%;
  background: var(--primaryColor);
  left: -14px;
  border-radius: var(--borderRadius-8);
  display: none;
}
.list-indicator li.active {
  color: var(--colorTitre);
  font-weight: var(--fw-500);
}
.list-indicator li.active::before {
  display: block;
}

.modal.modal-blur {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.modal .list-result {
  list-style: none;
}
.modal .list-result h6 {
  color: var(--colorTitle);
  font-size: var(--fnt-13);
}
.modal .list-result .inner-result .item-result {
  padding: 14px;
  font-size: var(--fnt-14);
  color: var(--colorParagraph);
  border-bottom: 1px dashed var(--colorBorder);
  position: relative;
  z-index: 1;
  transition: var(--transition-3);
}
.modal .list-result .inner-result .item-result::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bgBtnLight);
  z-index: -1;
  border-radius: var(--borderRadius-8);
  opacity: 0;
  transition: var(--transition-3);
}
.modal .list-result .inner-result .item-result:hover {
  color: var(--primaryColor);
}
.modal .list-result .inner-result .item-result:hover::before {
  opacity: 1;
}
.modal .btn-close {
  background-image: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fnt-12);
  opacity: 1;
  padding: 0 !important;
  border-radius: var(--borderRadius-8);
  color: var(--colorMuted);
  box-shadow: none !important;
  margin: 0;
  margin-left: auto;
}
.modal .btn-close:hover {
  background: var(--bgBtnLight);
  color: var(--colorTitle);
}
.modal .block-search-modal .content-search {
  position: relative;
  display: flex;
  align-items: center;
}
.modal .block-search-modal .content-search .form-control {
  background: var(--bgContent);
  border-color: transparent;
  height: 42px;
  font-size: var(--fnt-16);
  padding-left: 40px;
}
.modal .block-search-modal .content-search .form-control:focus + .icon {
  color: var(--primaryColor);
}
.modal .block-search-modal .content-search .icon {
  position: absolute;
  color: var(--colorParagraph);
  left: 14px;
  transition: var(--transition-3);
}
.modal .modal-header {
  border-bottom: 1px solid var(--borderColorHeaderModal);
  padding: 12px 18px;
}
.modal .modal-title {
  font-size: var(--fnt-16);
  color: var(--colorTitre);
}
.modal .modal-content {
  border-radius: var(--borderRadius-24);
  border: var(--borderNone);
  background: var(--bgCard);
}
.modal .modal-body {
  padding: 22px 18px;
}
.modal .modal-body .text-avert {
  font-size: var(--fnt-16);
  color: var(--colorTitle);
}

.block-upload-file {
  position: relative;
  border: 2px dashed var(--colorBorder);
  border-radius: var(--borderRadius-12);
}
.block-upload-file.active, .block-upload-file.dragging {
  border-color: var(--primaryColor);
}
.block-upload-file.active .dashed p, .block-upload-file.dragging .dashed p {
  color: var(--primaryColor);
}
.block-upload-file.active .dashed .icon, .block-upload-file.dragging .dashed .icon {
  color: var(--primaryColor);
}
.block-upload-file.active .dashed svg, .block-upload-file.dragging .dashed svg {
  fill: var(--primaryColor);
}
.block-upload-file.error {
  border-color: #ff5c5c;
}
.block-upload-file.error .dashed p {
  color: #ff5c5c;
}
.block-upload-file.error .dashed svg {
  fill: #ff5c5c;
}
.block-upload-file.lg {
  min-height: 140px;
}
.block-upload-file .error-message {
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ff5c5c;
  background: rgb(255, 231, 231);
  border-radius: 8px;
}
.block-upload-file .dashed {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 14px;
}
.block-upload-file .dashed svg {
  width: 32px;
  height: 32px;
  fill: var(--colorParagraph);
  opacity: 0.6;
}
.block-upload-file .dashed .icon-upload {
  font-size: 16px;
}
.block-upload-file .dashed p {
  color: var(--colorMuted);
  font-size: var(--fnt-12);
  margin-bottom: 0;
}
.block-upload-file .list-file {
  list-style: none;
}
.block-upload-file .list-file li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background: var(--bgContent);
  gap: 3px;
}
.block-upload-file .list-file li span {
  font-size: 12px;
  color: var(--colorTitle);
  font-weight: 500;
}
.block-upload-file .list-file li .btn-delete-file {
  font-size: 10px;
}/*# sourceMappingURL=app.css.map */